@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(200, 200, 200, 0.15);
  padding-top: 1.5rem;
}

section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  outline: 1px gray dotted;
  padding: 1rem;
  gap: 1rem;
}

section svg {
  animation: fadeInLeft;
  animation-duration: 1s;
}

#navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: lightgray;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  font-family: 'Source Code Pro', monospace;
}

#navbar p, #navbar a {
  width: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.15rem;
}

#navbar a {
  background-color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  color: black;
}

#navbar a:hover {
  opacity: 0.7;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 400px;
  -webkit-box-shadow: 0 0 10px 3px black;
  -moz-box-shadow: 0 0 10px 3px black;
  box-shadow: 0 0 10px 3px black;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-rev {
  flex-direction: row-reverse;
}

.main-card .card-content {
  width: 50%;
}

.main-card .card-image {
  height: 200px;
  width: 50%;
}

.chapter-card .card-content {
  width: 66%;
}

.chapter-card .card-image {
  width: 33%;
}

.card .card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  min-height: 200px;
}

.card .card-image p {
  color: white;
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  background-color: rgba(142, 142, 142, 0.75);
  padding: 0 2px;
  z-index: 1;
  outline: 1px lightgray solid;
}

.card .card-content {
  position: relative;
  margin-left: 15px;
  background-color: white;
}

.card-rev .card-content {
  margin-left: 0 !important;
  margin-right: 15px !important;
}

.card .card-content .vertical-label {
  position: absolute;
  transform: rotateZ(-90deg);
  bottom: 0;
  transform-origin: -8px;
  font-size: 12px;
  white-space: nowrap;
}

.card-rev .card-content .vertical-label {
  left: 100% !important;
  transform-origin: 0px 0px;
}

.card .card-content .card-title {
  padding: 0 0.5rem;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card .card-content .card-title .lead {
  font-size: 60px;
  line-height: 100%;
  height: 55px;
}

.card .card-content .card-title .last {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card .card-content .card-title .last span {
  text-align: left;
  display: block;
}

.card-ruler {
  width: 30%;
  margin-left: 4%;
}

.card .card-content .card-description {
  text-align: left;
  padding: 0.75rem;
}

section svg, #list-container {
  margin: auto;
  border: 1px gray solid;
}

.svg1 {
  background-color: rgba(42, 42, 42, .42);
}

.svg2 {
  background-color: rgba(200, 12, 55, 0.8);
}

.svg3 {
  background-color: rgba(50, 50, 222, 0.8);
}

.title {
  width: 100%;
  text-align: center;
  box-shadow: 1px 1px 4px 3px gray;
}

.text-wrapper {
  width: 100%;
}

.text-wrapper-title {
  background-color: #42424242;
  word-break: break-all;
  font-size: 12px;
  font-style: italic;
  padding: 0.25rem;
  border-radius: 0.25rem 0.25rem 0 0;
  max-width: 80%;
}

.text-wrapper-body {
  white-space: pre;
  text-align: left;
  background-color: lightblue;
  padding: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  max-height: 500px;
  overflow: hidden;
}

.d3-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  margin: 0.5rem auto;
  outline: 1px gray solid;
}

.axisWhite, .axisWhite *{
  stroke: white;
  fill: white;
  overflow: hidden;
}

#list-container {
  background-color: rgba(50, 50, 222, 0.8);
  width: 600px;
  height: auto;
  padding: 0.5rem 2rem;
}

#list-container ul li {
  cursor: pointer;
}

#list-container ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
